
#person_win_title						{padding:20px;background:#333;letter-spacing:0; overflow:hidden;}
#person_win_title .tit					{float:left;font-size:1.5em;line-height:30px; font-weight:500;color:#fff;}

#person_win_title .close				{position:relative;float:right;width:30px;height:30px;cursor:pointer;}
#person_win_title .close:before,
#person_win_title .close:after			{position:absolute;left:calc(50% - 1px);content:'';height:30px;width:2px;background-color:#fff;}
#person_win_title .close:before			{transform:rotate(45deg);}
#person_win_title .close:after			{transform:rotate(-45deg);}

.person_bunya_cate_div		{float:left; padding-right:20px;}
@media screen and (max-width:768px) {
}
@media screen and (max-width:540px) {
	.person_bunya_cate_div	{float:none; padding-right:0px;}
}





/* 인력 POOL 리스트 */

.person_listbox_tit						{font-size:2.4em;font-weight:700;padding:0 0 55px 20px; color:#000;}
.person_listbox							{ }
.person_listbox ul						{position:relative; display: grid; grid-template-columns: repeat(4, 1fr); gap:30px 25px; }
.person_listbox ul:after				{content:''; display:block; clear:both;}
.person_listbox li						{position:relative;text-align:center;}
.person_listbox figure					{position:relative; overflow: hidden; height:250px; border:1px solid #cbcbcb; }
.person_listbox figure img				{width:100%; height:100%; object-fit:cover; transition: all 0.5s ease;}  
.person_listbox .star						{padding:10px 0 0 0;}
.person_listbox .subject						{ padding:10px 0;  letter-spacing: -1px; color:#888;  word-wrap: break-word;}
.person_listbox .subject p						{padding:5px 0 0 0;color:#111;font-size:1.15em; font-weight:500;}
.person_listbox .home a:hover			{color:#189fa5; font-weight:500;}
.person_listbox .btn					{position:relative; font-family: 'GmarketSansMedium'; border-top:1px dashed #aaa; height:52px; line-height:52px; padding:0 20px; text-align:center; color:#189fa5; transition: all 0.5s ease;}
.person_listbox li:hover figure img	{transform: scale(1.15);}

.person_listbox .review_star					{display:inline-block;width:70px;height:15px;background:url("../image/icon_star.png") no-repeat left -16px ;background-size:70px auto;text-align:left; margin:5px 0 0 0; }
.person_listbox .review_fill					{display:inline-block;height:15px;background:url("../image/icon_star.png") no-repeat left 0 ;background-size:70px auto; }

.personlist_nolist						{text-align:center; border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:100px 0; color:#999;font-size:2em;font-weight:500;}


.person_search_box						{}
.person_search_category					{position:relative; width:65%;margin:auto;}
.person_search_category li				{display:inline-block;border:1px solid #b9b9b9;line-height:32px;padding:0 20px;border-radius:8px;margin:4px;background:#fff;cursor:pointer;}
.person_search_category .select			{background:#f3f3f3;color:#ce0000;}
.person_search_category:after			{content:""; display:block; clear:both;}


.person_list_search_box				{ float:right; width:240px; padding:18px; border:1px solid #ddd;background:#f9f9f9; margin-left:25px;}
.person_list_search_tit							{color:#000;font-size:1.1em;font-weight:700;padding:0 0 15px 0;}
.person_list_search_category				{position:relative; display: grid; grid-template-columns: repeat(3, 1fr); gap: 4px; text-align:center;}
.person_list_search_category li			{display:inline-block;background:#fff;border:1px solid #b9b9b9;line-height:32px; border-radius:5px; }
.person_list_search_category .select	{background:#efefef;color:#ce0000;}
.person_list_search_category:after			{content:""; display:block; clear:both;}
.person_list_search_form_box			{padding:10px 0 0 0;} 
.person_list_search_select					{border:1px solid #aaa;border-radius:5px;margin:2px;height:42px;line-height:40px;padding:0 15px;min-width:180px;}
.person_list_search_input					{border:1px solid #aaa;border-radius:5px;margin:2px;line-height:40px;padding:0 10px;width:99%;}
.person_list_search_btn						{border:1px solid #ce0000;border-radius:5px;margin:8px 2px;line-height:40px;width:99%;background:#ce0000;color:#fff;font-size:1.1em;font-weight:500;}




/* 인력 POOL 리스트 상단 검색 박스 */
.person_list_top_box_wrap					{position:relative;}
.person_list_top_box_wrap:after			{content:""; display:block; clear:both;}
.person_list_top_box						{position:relative; border:1px solid #ddd; margin:0 0 40px 0;padding:10px 13px;background:#f9f9f9;}
.person_list_top_box:first-child						{position:relative; padding:7px 0;border-top:0 solid #dfdfdf;}
.person_list_top_box:after			{content:""; display:block; clear:both;}
.person_list_top_left						{position:relative;float:left;width:15%;padding:0 0 0 5px ;font-size:1.1em;line-height:35px;color:#222;font-weight:bold;box-sizing:border-box;}
.person_list_top_right						{position:relative;float:right;width:85%; box-sizing:border-box;}
.person_list_top_right ul					{position:relative;  clear:both; }
.person_list_top_right ul li				{display:;float:left;padding:5px 18px;border:1px solid #b9b9b9;background:#fff;border-radius:5px;margin: 2px;}
.person_list_top_right ul li.on	 		{background:#efefef;color:#ce0000 !important;}
.person_list_top_right ul li.on	a			{ color:#ce0000 !important;}




@media screen and (max-width:1240px) {
.person_listbox ul					{gap:20px 20px; grid-template-columns: repeat(4, 1fr);} 
.person_search_category				{position:relative; width:80%;margin:auto;}
}

@media screen and (max-width:1024px) {
	.person_listbox ul					{gap:20px 20px; grid-template-columns: repeat(3, 1fr);}  
	.person_listbox dl					{ }
	.person_listbox dl dt				{font-size:1.1em;  }
	.person_listbox dl dd				{padding:0 0 10px 0; font-size:0.95em;}
	.person_listbox .btn				{font-size:0.85em; height:48px; line-height:48px;}
	.personlist_nolist					{padding:60px 0;}
	.person_search_category li			{padding:0 15px; margin:3px; }
}

@media screen and (max-width:768px) {
	.person_listbox ul					{grid-template-columns: repeat(2, 1fr);}
	.person_listbox figure				{height:220px;}
	.person_listbox dl					{min-height:auto;}

	.person_search_category				{position:relative; width:99%;margin:auto;}
	.person_search_category li			{padding:0 13px;border-radius:5px;margin:2px; }

	
.person_list_top_left						{position:relative;float:none;width:100%; line-height:30px;padding:0 0 7px 0; }
.person_list_top_right						{position:relative;float:none;width:100%;  }

}
 
@media screen and (max-width:580px) {  
	.person_search_category				{width:100%; }
}



/* 인력풀 상세페이지  ================================================================================== */
.person_info_wrap					{position:relative;border:1px solid #ddd;padding:15px;} 
 .person_info_box						{position:relative;display:block;padding:0 0  10px 0;}
.person_info_box:after				{content:""; display:block; clear:both;}
.person_info_thum					{float:left;width:20%; }
.person_info_thum img			{width:100%;}
.person_info_cont						{float:right;width:77%;}
.person_info_name					{font-size:1.8em;  font-weight:700;color:#000;padding:6px 0 25px 0;}
.person_info_cont ul				{position:relative; display: grid; grid-template-columns: repeat(2, 1fr); gap: 8px 6px;  }
.person_info_cont .grid_area								{grid-area: 3/1/  span 2 / span 2   ;}
.person_info_cont ul li				{padding:  0;}
.person_info_cont ul li	dl dt		{display:inline-block;width:100px;color:#888;text-align:center;font-size:0.9em;line-height:28px;border:1px solid #ddd;min-width:80px; }
.person_info_cont ul li	dl dd			{display:inline-block;padding:0 0 0 10px; }
.person_info_cont ul li	dl dd a			{color:#08bbc2;}
.person_info_cont ul li	dl dd a:hover			{text-decoration:underline;} 
 .person_info_memo				{display:block; clear:both;padding:15px  0  0 0;line-height:180%;border-top:1px solid #ddd;margin-top:15px;}
.person_info_memo img		{max-width:100%;} 





@media screen and (max-width:900px) {
 
.person_info_cont ul				{position:relative; display: grid; grid-template-columns: repeat(1, 1fr); gap: 5px;  }
.person_info_cont .grid_area								{grid-area:5;}

}

@media screen and (max-width:580px) {  
.person_info_thum					{float:none;width:100%;} 
.person_info_cont						{float:none;width:100%;padding:15px 0 0 0;} 
}











@media screen and (max-width:1024px) {

	.person_info					{margin-bottom:40px;}
	.person_info .info_div			{width:100%;}
	.person_info dl					{padding:12px 0;}
	.person_info h4					{padding-bottom:20px;}
	.person_cont					{margin-top:20px;}

}

@media screen and (max-width:768px) {

	.person_info figure,
	.person_info .list				{float:none; width:100%;}

}