/*  게시글 리스트  ==================================================================================== */
.board_search						{overflow:hidden; margin-bottom:20px;}
.board_search .ginfo				{float:left; padding:20px 0 0 0; }
.board_search dl					{float:right; width:45%; overflow:hidden;}
.board_search dl dt					{float:left; width:23%; position:relative;}
.board_search select				{width:100%; padding:0 10px; height:46px; vertical-align:top;border:1px solid #d4d4d4;cursor:pointer; appearance: none; -moz-appearance: none; -webkit-appearance: none;}
.board_search dl dt:after			{position: absolute; content: ''; display: block; z-index:1; top:17px; right:10px; width: 5px; height: 5px; -webkit-transform: rotate(45deg); transform: rotate(45deg); border-bottom: 2px solid #7d7d7d; border-right: 2px solid #7d7d7d;}
.board_search dl dd					{float:right; width:calc(77% - 5px);height:48px;color:#333;line-height:48px;vertical-align:top;}
.board_search .input_form			{box-sizing:border-box; width:calc(100% - 70px); height:46px;color:#666; vertical-align:top;border:1px solid #d4d4d4; padding:0 10px; letter-spacing:-0.75px;}
.board_search .btn					{float:right; border:1px solid #3f4247; background:#3f4247; height:46px; line-height:40px; width:70px; text-align:center; color:#fff; letter-spacing:-1px;}
.board_search .btn:hover			{background:#333;}


/* screen 768 */
@media screen and (max-width:768px) {

	.board_search .ginfo			{float:none; padding:0 0 10px 0;}
	.board_search dl				{float:none; width:100%;}

}

/* screen 580 */
@media screen and (max-width:580px) {

	.board_search dl dt				{float:none; width:100%; margin-bottom:5px;}
	.board_search dl dd				{float:none; width:100%;}

}

.board_category							{text-align:center; margin-bottom:20px;}
.board_category li						{display:inline-block; margin-right:3px;}
.board_category li:last-child			{margin:0;}
.board_category li a					{display:block; background:#f7f7f7; color:#555; padding:5px 15px; border-radius:2px; font-weight:500; }
.board_category li a:hover, .board_category .on a		{background:#f15f22; color:#fff; }

.board_list .tit_wrap					{overflow:hidden; text-align:center;  line-height:62px; border-top:2px solid #333; background:#fafafa; }
.board_list .tit_wrap p					{font-family: 'S-CoreDream-5Medium'; color:#111;}
.board_list .tit_wrap .no				{float:left; width:8%; }
.board_list .tit_wrap .cate				{float:left; width:8%; }
.board_list .tit_wrap .tit0				{float:left; width:64%; }
.board_list .tit_wrap .tit1				{float:left; width:56%; }
.board_list .tit_wrap .file				{float:left; width:6%;}
.board_list .tit_wrap .named			{float:left; width:8%; }
.board_list .tit_wrap .date				{float:left; width:8%; }
.board_list .tit_wrap .hit				{float:left; width:6%; }

.board_list .content_wrap				{overflow:hidden; font-size:1em; }
.board_list .content_wrap li			{overflow:hidden; text-align:center; border-top:1px solid #dfdfdf; padding:20px 0px;}
.board_list .content_wrap li:last-child	{border-bottom:1px solid #dfdfdf;}
.board_list .content_wrap .no			{float:left; width:8%; font-size:1em; }
.board_list .content_wrap .cate			{float:left; width:8%; font-size:1em; color:#930911;}
.board_list .content_wrap .tit0			{float:left; width:64%; text-align:left; color:#222; font-weight:500; font-size:1em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.board_list .content_wrap .tit1			{float:left; width:56%; text-align:left; color:#222; font-weight:500; font-size:1em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.board_list .content_wrap .file			{float:left; width:6%; }
.board_list .content_wrap .file span	{display:inline-block;}
.board_list .content_wrap .sfile		{display:none;}
.board_list .content_wrap .named		{float:left; width:8%; overflow:hidden; font-size:1em; text-overflow:ellipsis; white-space:nowrap; color:#888; }
.board_list .content_wrap .date			{float:left; width:8%; font-size:1em; color:#777;}
.board_list .content_wrap .hit			{float:left; width:6%; font-size:1em; color:#777;}
.board_list .content_wrap .tit0 .icon_notice,
.board_list .content_wrap .tit1 .icon_notice,
.board_list .content_wrap .tit0 .icon_category,
.board_list .content_wrap .tit1 .icon_category,
.board_list .content_wrap .minfo		{display:none; }
.board_list .content_wrap .nolist		{padding:70px 0; }
.board_list .content_wrap li:hover		{background:#f9f9fb;}

.board_list .content_wrap span.icon_notice,
.board_list .content_wrap span.icon_category	{padding:2px 15px; color:#425ad4; border:1px solid #425ad4; font-size:0.95em;}

.board_list .btn_wrap					{padding-top:40px; overflow:hidden;}


@media screen and (max-width:1024px) {

	.board_list .tit_wrap				{display:none; }

	.board_list .content_wrap			{border-top:2px solid #5e5e5e; }
	.board_list .content_wrap li		{padding:12px 10px;}
	.board_list .content_wrap .tit0,
	.board_list .content_wrap .tit1		{float:none; width:100%;}
	.board_list .content_wrap .file,
	.board_list .content_wrap .no,
	.board_list .content_wrap .cate,
	.board_list .content_wrap .named,
	.board_list .content_wrap .date,
	.board_list .content_wrap .hit		{display:none; }
	.board_list .content_wrap .tit0 .icon_notice,
	.board_list .content_wrap .tit1 .icon_notice,
	.board_list .content_wrap .tit0 .icon_category,
	.board_list .content_wrap .tit1 .icon_category	{display:inline-block; height:22px; line-height:20px; text-align:center; padding:0 5px; font-size:14px;}
	.board_list .content_wrap .minfo	{display:block; margin:5px 0 0 0; text-align:left; color:#999;}
	.board_list .content_wrap .sfile	{display:inline-block;}

}



/*  게시글 뷰  ==================================================================================== */
#.board_view									{margin:40px auto;}
.board_view .tit_wrap							{padding:40px 30px; border-top:2px solid #333; border-bottom:1px solid #dfdfdf; background:#fafafa;} 
.board_view .tit_wrap .tit						{font-family: 'S-CoreDream-4Regular';  font-size:1.6em; letter-spacing:-1px; line-height:140%; COLOR:#333; font-weight:700;padding:0 0 15px 0;} 
.board_view .tit_wrap .tit span					{display:inline-block; padding:0px 10px; height:31px; line-height:31px; color:#930911; border:1px solid #930911; margin-right:10px; font-size:15px;}
.board_view .tit_wrap .name						{color:#999;}
.board_view .tit_wrap .name span				{position:relative; padding-right:23px;}
.board_view .tit_wrap .name span:after			{content:''; position:absolute; top:0; right:12px; bottom:0; width:1px; height:1em; margin:auto; background:#ddd;}
.board_view .tit_wrap .name span:last-child		{padding:0;}
.board_view .tit_wrap .name span:last-child:after{display:none;}

.board_view .content_wrap						{overflow:hidden;padding:40px 20px; word-break:break-all; min-height:300px; border-bottom:1px solid #ddd;}
.board_view .content_wrap img					{max-width:100%; }

.board_view .video_wrap							{text-align:center;margin-bottom:40px;}
.board_view .video_wrap .youtube_iframes		{width:720px; height:480px; }

.board_view .file_wrap 							{padding:15px 10px; overflow:hidden; }
.board_view .file_wrap li						{font-size:0.95em; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:90%; }
.board_view .file_wrap .tit						{float:left; width:140px; }
.board_view .file_wrap .tit span				{display:block; font-weight:500; text-align:center; line-height:46px; border:1px solid #dfdfdf; }
.board_view .file_wrap .txt						{float:right; width:calc(100% - 170px); line-height:180%; color:#797979; padding:10px 0 0 0;}

.board_view .btn_wrap							{padding:40px 0 60px 0; text-align:center; overflow:hidden; border-top:1px solid #333;}
.board_view .btn_wrap .bbs_btn02				{margin-right:3px;}
.board_view .pn_wrap li							{overflow:hidden; padding:20px 0; border-bottom:1px solid #ddd; } 
.board_view .pn_wrap li:first-child				{border-top:1px solid #ddd; }
.board_view .pn_wrap li:last-child				{border-bottom:1px solid #ddd; } 
.board_view .pn_wrap li a						{display:block; color:#555; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:0.95em;}
.board_view .pn_wrap li a span					{display:inline-block; text-align:left; text-indent:20px; margin-right:20px; width:17%; color:#333333; border-right:1px solid #e8e8e8; }

.board_view .bwrite_cm							{padding-top:20px;}


@media screen and (max-width:1024px) {
	.board_view .tit_wrap						{padding:20px 10px;} 
	.board_view .tit_wrap .tit					{font-size:1.25em; padding:0 0 10px 0;}
	.board_view .tit_wrap .name					{font-size:0.85em;}

	.board_view .content_wrap					{padding:30px 10px;}
	.board_view .btn_wrap						{padding:20px 0;}


}

@media screen and (max-width:768px) {
	.board_view .file_wrap li					{font-size:0.8em; }
	.board_view .file_wrap .tit					{display:none; }
	.board_view .file_wrap .txt					{float:none; width:100%; font-size:0.85em; padding:0;}

	.board_view .pn_wrap li						{overflow:hidden; padding:15px 0; border-bottom:1px solid #ddd; } 
	.board_view .pn_wrap li a					{font-size:0.8em; }
	.board_view .pn_wrap li a span				{text-indent:10px; }
}



/*  게시글 폼  ==================================================================================== */
.board_form										{margin:40px auto;}
.board_form .tit								{color:#111; font-weight:bold; padding:15px 10px; text-align:center; background-color:#eeeeee; border-top:2px solid #5e5e5e; font-size:1.1em; }
.board_form	table								{border-collapse:collapse; width:100%; table-layout:fixed; }
.board_form table tbody th						{padding:10px 8px; background:#cdcfd4; border:1px solid #aaa;}
.board_form table tbody th:first-child			{border-left:0;}
.board_form table tbody th:last-child			{border-right:0;}
.board_form table tbody th span					{display:block;font-size:0.85em;color:#ec0b0b;}
.board_form table tbody td						{background:#fff; padding:8px 6px;  word-break:break-all; border-right:1px solid #ddd; border-bottom:1px solid #ddd; border-left:1px solid #ddd; height:48px;} 
.board_form table tbody td:first-child			{border-left:0;}
.board_form table tbody td:last-child			{border-right:0;}
.board_form table tbody tr:hover td				{background:#f9f9f9;}

.board_form .btn_wrap							{padding:40px 0; overflow:hidden; text-align:center; }



/*  게시글 댓글  ==================================================================================== */
.board_comment									{margin:40px auto;}
.board_comment .top								{overflow:hidden; background:#f9f9f9; padding:20px; border:1px solid #ddd;}
.board_comment .top .content					{float:left; width:85%;}
.board_comment .top .content					{font-size:0.95em;}
.board_comment .top .content .textarea_form		{height:80px;}

.board_comment .top .submit						{float:right; width:15%;}
.board_comment .top .submit .btn				{border:1px solid #002f59; background:#002f59; height:80px; line-height:80px; width:100%; color:#fff; font-size:1.2em;}
.board_comment .top .submit .btn:hover			{border-color:#000; background:#000;}

.board_comment .replybox											{padding:20px; border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd;}
.board_comment .replybox .replyinfo									{overflow:hidden; padding-bottom:15px; border-bottom:1px solid #ddd;}
.board_comment .replybox .replyinfo .count							{float:left; color:#999; font-size:0.85em;}
.board_comment .replybox .replyinfo .count span						{color:#4265fb; font-weight:500;}
.board_comment .replybox .replyinfo .tab							{display:none;float:right;}
.board_comment .replybox .replyinfo .tab li							{display:inline-block; margin-right:5px;color:#888;cursor:pointer; font-size:0.9em;}
.board_comment .replybox .replyinfo .tab li:last-child				{margin-right:0;}
.board_comment .replybox .replyinfo .tab li.on						{font-weight:500;color:#333;}


.board_comment .replybox .replylists								{position:relative;  padding-bottom:25px;border-bottom:1px solid #e2e2e2;}
.board_comment .replybox .replylists li.depth1						{border-radius:5px;background:#f5f5f5;padding:20px;margin:15px 0px 0px 20px;border-top:0px; border-radius:5px;}
.board_comment .replybox .replylists li.depth2						{border-radius:5px;background:#f5f5f5;padding:20px;margin:10px 0px 0px 40px;border-top:0px; border-radius:5px;}
.board_comment .replybox .replylists li.depth3						{border-radius:5px;background:#f5f5f5;padding:20px;margin:10px 0px 0px 60px;border-top:0px; border-radius:5px;}
.board_comment .replybox .replylists li								{padding-top:25px;margin-top:25px;border-top:1px solid #e2e2e2;}
.board_comment .replybox .replylists li:first-child					{padding-top:10px;margin-top:15px;border-top:0px;}
.board_comment .replybox .replylists li.nolist						{padding-top:0px;margin-top:0px;border-top:0px;text-align:center;padding:70px 0px 45px 0px;}
.board_comment .replybox .replylists li .img						{float:left; width:40px; height:40px; }
.board_comment .replybox .replylists li .img img					{width:100%; height:100%; border-radius:50px; border:1px solid #efefef;}
.board_comment .replybox .replylists li .info						{padding-left:50px;}
.board_comment .replybox .replylists li .info div					{color:#999; font-size:0.85em; line-height:1.4;}
.board_comment .replybox .replylists li .info div.name				{color:#222; font-size:0.95em;}
.board_comment .replybox .replylists li .info div button			{color:#999;margin-left:12px;font:300 1em 'Noto Sans Kr', sans-serif;}
.board_comment .replybox .replylists li .info div button:before		{position: absolute;content: '';width: 1px;height: 13px;background: #ccc;margin: 3px 0px 0px -6px;}
.board_comment .replybox .replylists li .content					{padding:15px 0 20px 0; color:#555969; font-size:0.95em;}

.board_comment .replybox .replylists li .controls					{position:relative; overflow:hidden;}
.board_comment .replybox .replylists li .controls button			{display:inline-block; letter-spacing:-0.5px; margin:0 1px;width:60px; height:32px; line-height:30px !important; text-align:center; border:1px solid #ddd; color:#555; cursor:pointer;font:300 0.8em 'Noto Sans Kr', sans-serif; background:#fff; }
.board_comment .replybox .replylists li .controls button:hover		{border:1px solid #666;}


@media screen and (max-width:768px) {
	.board_comment .top											{padding:15px;}
	.board_comment .top .content								{width:80%;}
	.board_comment .top .content .textarea_form					{height:50px;}
	.board_comment .top .submit									{width:20%;}
	.board_comment .top .submit .btn							{height:50px; line-height:50px;}


	.board_comment .replybox .replyinfo .tab li					{margin-right:2px;}

	.board_comment .replybox .replylists						{padding-bottom:20px;}
	.board_comment .replybox .replylists li						{padding-top:20px;margin-top:20px;}
	.board_comment .replybox .replylists li:first-child			{margin-top:10px;}
	.board_comment .replybox .replylists li.nolist				{font-size:0.85em;padding:56px 0px 45px 0px;}

	.board_comment .replybox .replyinfo .count,
	.board_comment .replybox .replyinfo .tab li,
	.board_comment .replybox .replylists li .info div,
	.board_comment .replybox .replylists li .info div.name		{font-size:0.8em;}
	.board_comment .replybox .replylists li .content			{font-size:0.85em;line-height:145%;}
	.board_comment .replybox .replylists li .controls button	{font-size:0.8em;width:57px;height:27px; line-height:26px;}

}
