<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="usermapper">
	<select id="findUserOne" resultType="UserDto" parameterType="UserDto">
		SELECT id, password FROM USER where id=#{id} AND password = #{password}
	</select>
	
	<select id="findByUsername" resultType="UserDto" parameterType="String">
		SELECT id, password, role
		    FROM USER
	    WHERE id = #{id}
	</select>
	
	<insert id="insertUserOne" parameterType="UserDto">
	    INSERT INTO USER (
	        id,
	        password
	        <if test="role != null and role != ''">
	            , role
	        </if>
	    ) VALUES (
	        #{id},
	        #{password}
	        <if test="role != null and role != ''">
	            , #{role}
	        </if>
	    )
	</insert>
</mapper>