<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="popupMapper">
    <!-- 목록 조회 -->
    <select id="getPopupList" resultType="PopupDto">
        SELECT id, title, content_html, start_at, end_at, is_visible, created_at, updated_at
        FROM popup
        ORDER BY start_at DESC
    </select>
    <!-- 단건 조회 -->
    <select id="getPopup" parameterType="int" resultType="PopupDto">
        SELECT id, title, content_html, start_at, end_at, is_visible, created_at, updated_at
        FROM popup
        WHERE id = #{id}
    </select>
    <!-- 등록 -->
    <insert id="createPopup" parameterType="PopupDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO popup (title, content_html, start_at, end_at, is_visible)
        VALUES (#{title}, #{contentHtml}, #{startAt}, #{endAt}, #{isVisible})
    </insert>
    <!-- 수정 -->
    <update id="updatePopup" parameterType="PopupDto">
        UPDATE popup SET
            title = #{title},
            content_html = #{contentHtml},
            start_at = #{startAt},
            end_at = #{endAt},
            is_visible = #{isVisible},
            updated_at = NOW()
        WHERE id = #{id}
    </update>
    <!-- 삭제 -->
    <delete id="deletePopup" parameterType="int">
        DELETE FROM popup WHERE id = #{id}
    </delete>
    <!-- 팝업 총 개수 조회 -->
    <select id="getPopupCount" parameterType="PopupDto" resultType="int">
        SELECT COUNT(*)
        FROM popup
    </select>
    <select id="getActivePopupList" resultType="popupDto">
        SELECT
            id,
            title,
            content_html AS contentHtml,
            start_at AS startAt,
            end_at AS endAt,
            is_visible AS isVisible,
            created_at AS createdAt
        FROM
            popup
        WHERE
            is_visible = 1
          AND NOW() BETWEEN start_at AND end_at
        ORDER BY
            id DESC
    </select>
</mapper> 