<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" /> 
		<setting name="jdbcTypeForNull" value="NULL" />
	    <setting name="callSettersOnNulls" value="true"/>    
	    <setting name="returnInstanceForEmptyRow" value="true"/>
	    <setting name="mapUnderscoreToCamelCase" value="true"/>
	    <setting name="logImpl" value="LOG4J2"/>
	</settings>
	<typeAliases>
		<typeAlias alias="UserDto" type="net.ktop.ktop.module.web.user.UserDto"/>
		<typeAlias alias="SignupQuestionDto" type="net.ktop.ktop.module.web.signupquestion.SignupQuestionDto"/>
		<typeAlias alias="CompanyDto" type="net.ktop.ktop.module.web.company.CompanyDto"/>
		<typeAlias alias="FileDto" type="net.ktop.ktop.module.util.file.FileDto"/>
		<typeAlias alias="CompanyFileDto" type="net.ktop.ktop.module.web.company.file.CompanyFileDto"/>
		<typeAlias alias="PartnerCompanyDto" type="net.ktop.ktop.module.web.partner.PartnerCompanyDto"/>
   	</typeAliases>
</configuration>